on:
  push:
    tags:
    - 'v*'

name: Publish to NPM

jobs:
  npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 15
      - run: yarn install || exit 1
      - run: yarn run lint || exit 2
      - run: yarn run test || exit 3
      - run: yarn run build || exit 4
      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
          access: public

  github:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: "https://npm.pkg.github.com"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: yarn install || exit 1
      - run: yarn run lint || exit 2
      - run: yarn run test || exit 3
      - run: yarn run build || exit 4
      - name: publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm publish
